# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Python cache
_pycache_/
*.pyc
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Logs
*.log